#logo {
  max-width: 50%;
  margin: 0 auto 1rem;
}

.thumbnail-img {
  display: block;
  max-height: 300px;
  margin: 0 auto;
}

.thumbnail-small {
  max-height: 85px;
  float: left;
  margin: 0 20px 10px 0;
}

.thumbnail-tiny {
  max-height: 35px;
  float: left;
  margin: 0 20px 10px 0;
}

.related-posts a {
  display: inline-block;
}

@media (min-width: 48em) {
  .sidebar {
    width: 15rem;
    overflow-x: auto;
  }
  .content {
    max-width: 50rem;
  }
  #logo {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    max-width: 100%;
  }
}